<basic-view>
    <div>
        <div class="row title-bar">
            <div class="col-xs-12 title-btn-bar">
                <button class="btn btn-warning" ng-click="back()">
                    <span class="fa fa-arrow-left"></span>
                </button>

                <button class="btn btn-dark"  ng-click="printOrder()">
                    <span class="fa fa-print"></span>
                </button>
            </div>
        </div>

        <section class="panel panel-default">
            <div class="wrapper-sm">
                <order id="order" data="record"></order>
            </div>
        </section>
    </div>
</basic-view>
