<div class="error-page">

    <div id="container">

        <div class="overlay"></div>

        <div class="item-title">

            <div id="message">
                <p>ERROR 404</p>
                <p>NOT FOUND</p>
                <p>You may have mis-typed the URL.</p>
                <p>Or the page has been removed.</p>
                <p>Actually, there is nothing to see here...</p>
                <p>Click on the links below to do something, Thanks!</p>
            </div>

            <div class="link-bottom">
                <a class="link-icon" href="#/">
                    <i class="fa fa-home"></i>
                    Home
                </a>

                <a class="link-icon" href="mailto:someone@example.com">
                    <i class="fa fa-envelope"></i>
                    Write us
                </a>
            </div>

        </div>

    </div>

</div>

