html {
    font-family: 'Roboto Mono', monospace;
    background-color: #212121;
    color: aliceblue;
    font-size: 1.3rem;
}

/* Navbar */

#navbar {
    background-color: #333;
    position: relative;
    /* top: -50px; */
    width: 100%;
    display: block;
    /* transition: top 0.3s; */
}

li {
    list-style-type: none;
}
.navbar-item {
    
    font-weight: 400;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-item:hover {
    background-color: #ddd;
    color: black;
}


/* Tiêu đề */
h3 {
    position: relative;
    display: block;
}